<div class="header-main clearfix">
        @*<div class="switch">
            <a href="/">
                <i class="icon icon-country"><img src="picture/coun_1.jpg" alt=""></i>
                English
            </a>
        </div>*@
        <div class="container clearfix">
            <div class="pull-left">
                <a href="/" class="logo-main">
                    <div class="specil_logo">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="content-main clearfix">
        <div class="swiper-container" id="wrapperCont">
            <div class="swiper-wrapper" id="scrollerCont">
                <div class="swiper-slide">
                    <a href="#" class="edu png">
                        <img src="picture/logo_yye.png" />
                        <p class="txt">国际教育办学</p>
                        <p class="txt name">英伦云育儿</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="edu png">
                        <img src="picture/logo_yxx.png" />
                        <p class="txt">国际教育办学</p>
                        <p class="txt name">英伦云小学</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="edu png">
                        <img src="picture/log_wld_zxgjkc.png" />
                        <p class="txt">国际教育办学</p>
                        <p class="txt name">中学国际课程云学堂</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img src="picture/logo_om.png" />
                        <p class="txt">国际教育服务</p>
                        <p class="txt name">索引留学</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank">
                        <img src="picture/logo_agent_1.png" />
                        <p class="txt">国际教育服务</p>
                        <p class="txt name">索引教育</p>
                    </a>
                </div>
                <!--<div class="swiper-slide">
                            <a href="http://www.winlandedu.com/" target="_blank">
                                <img src="picture/logo_wld.png" />
                                <p class="txt">国际教育办学</p>
                                <p class="txt name">文蓝国际学习中心</p>
                            </a>
                        </div>
                -->
                <div class="swiper-slide">
                    <!-- <a href="http://www.indexint.uk/" target="_blank" class="edu png"> -->
                    <a href="javascript:;" target="_blank" class="edu png">
                        <img src="picture/logo_ini.png" />
                        <p class="txt">国际教育投资</p>
                        <p class="txt name">SowingX Capital</p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" target="_blank" class="edu png">
                        <img src="picture/logo_enm.png" />
                        <p class="txt">国际教育传媒</p>
                        <p class="txt name">国教新媒</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <a href="javascript:iscrollContMain.prev();" class="btn-prev"></a>
        <a href="javascript:iscrollContMain.next();" class="btn-next"></a>
    </div>
    <div class="citys clearfix">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active">
                    <span class="ht">上海</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">上海市恒丰路329号隆宇国际商务广场507室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:021-52127971">021-52127971</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">北京</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">北京市朝阳区光华路4号东方梅地亚C座2603室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:010-65836988">010-65836988</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">广州</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">广州市天河区华夏路28号富力盈信大厦3411室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:020-38031937">020-38031937</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">杭州</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">杭州市下城区环城北路208号坤和中心2505室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0571-86701830">0571-86701830</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">南京</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">南京市秦淮区汉中路1号南京国际金融中心42层C座D座</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:025-86502334">025-86502334</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">成都</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">成都市武侯区人民南路4段11号附1号大陆国际2302室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:028-85320798">028-85320798</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">重庆</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">重庆市渝中区民生路235号海航保利国际中心42-E</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:023-63635855">023-63635855</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">青岛</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">青岛市南区香港中路40号数码港旗舰大厦8楼802室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0532-86667756">0532-86667756</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">长春</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">长春市高新区卫星路与前进大街交汇万旌国际大厦1207室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0431-85822630">0431-85822630</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">伦敦</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">Fifth Floor, Gray's Inn Chambers, 19-21 High Holborn, London, UK WC1R 5JA</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0044-(0)20 3794 9572">0044-(0)20 3794 9572</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">马鞍山</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">马鞍山市花山区金汇城市花园北门22栋102号</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0555-8337558">0555-8337558</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">哈尔滨</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">黑龙江省哈尔滨市道里区上海街7号海上银座B座1203室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0451-84500003-808">0451-84500003-808</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">天津</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">天津和平区小白楼滨江万丽酒店写字楼13层1308室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:022-58683968">022-58683968</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">扬州</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">江苏省扬州市邗江区邗江中路330号星座国际大厦 14楼13A03</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0514-89887990">0514-89887990</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">西安</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">陕西省西安市碑林区南关正街88号长安国际中心B座707</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:029-85218844">029-85218844</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">佛山</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">广东省佛山市禅城区祖庙路33号百花广场24层2427-30室</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0757-82711750">0757-82711750</a>
                    </span>
                </div>
                <div class="tab-pane">
                    <span class="ht">济南</span>
                    <span class="addr">
                        <i class="i i-addr"></i>
                        <em class="font">山东省济南市历下区历山路142号凯旋商务中心A座5楼F区</em>
                    </span>
                    <span class="phone">
                        <i class="i i-phone"></i>
                        <a href="tel:0531-87965522">0531-87965522</a>
                    </span>
                </div>
            </div>
            <div class="tab-nav">
                <form id="ta" method="post" action="#" target="_blank">
                    <div class="citys-wrapper" id="wrapperCitys">
                        <ul id="scrollerCitys">
                            <li class="current"><a href="javascript:void(0);" class="city" data-id="0">上海</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="1">北京</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="2">广州</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="3">杭州</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="4">南京</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="5">成都</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="6">重庆</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="7">青岛</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="8">长春</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="9">伦敦</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="10">马鞍山</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="11">哈尔滨</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="12">天津</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="13">扬州</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="14">西安</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="15">佛山</a></li>
                            <li class=""><a href="javascript:void(0);" class="city" data-id="16">济南</a></li>
                        </ul>
                        <input type="hidden" name="cityid" value="" />
                    </div>
                    <!-- Add Arrows -->
                    <a href="javascript:iscrollCitysMain.prev();" class="btn-prev"></a>
                    <a href="javascript:iscrollCitysMain.next();" class="btn-next"></a>
                </form>
            </div>
        </div>
    </div>
