<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8" />
    <title>索引国际教育集团(Sower International Education Group) - SIEG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="keywords" content="索引教育,索引国际教育集团,SIEG" />
    <meta http-equiv="description" content="索引国际教育集团(Sower International Education Group),简称:SIEG,成立于1992年,目前旗下品牌包括:index索引教育,索学网,美梦网,OM自助DIY留学,环球寄宿中学(GBSS),走读中学,IES,文蓝国际学习中心." />
    <link rel="stylesheet" href="css/portal.css" />
</head>
<body>
    @RenderBody()
 


    <div class="footer-main clearfix">
        <p class="text-center">
            <span class="cpy">CopyRight 1992-2016,</span>
            <span class="cpy">www.soweredu.com, Inc.All Rights Reserved.</span>
        </p>
    </div>

    <script src="js/jquery.min.js"></script>
    <!--// iscroll -->
    <script src="js/iscroll.js"></script>
    <script src="js/touchslider.min.js"></script>
    <script src="js/portal.js"></script>
    <script>
        new Portal();
    </script>
</body>
</html>
